body {
  background: peachpuff;
}
* {
  border: 1px solid fuchsia;
}
.container {
  display: flex;
  flex-direction: column;
}
.combo {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  height: 40vh;
}
.a {
  flex-grow: 1;
  height: 20vh;
}
.h {
  flex-grow: 2;
  height: 40vh;
}
.b, .c, .d, .e, .f, .g {
  width: 33%;
}