* {
  border: 1px solid indigo;
}
body {
  background: blanchedalmond;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a, .c {
  min-height: 20vh;
  flex-grow: 1;
}
.b {
  min-height: 60vh;
  flex-grow: 2;
}

@media (min-device-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .b {
    max-width: 60%;
  }
}