body {
  background: papayawhip;
}
* {
  border: 1px solid red;
}

.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: space-between;
}
.combo {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  flex-grow: 3;
}
.cde {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.a, .b, .f {
  width: 100%;
}
.a, .f {
  flex-grow: 1;
}
.c, .d, .e {
  flex-grow:1;
}
.b {
  flex-grow: 2;
}